@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  --black: hsl(240, 6%, 13%);
  --gray: hsla(240, 9%, 89%, 1);
}

body {
  display: grid;
  place-items: center;
  background: var(--black);
}

/* BODY BACKGROUND GRADIENT */

body::after {
  content: '';
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: radial-gradient(at calc(var(--mouse-x) * 15%) calc(var(--mouse-y) * 10%), rgb(26, 8, 87) 20%, rgba(144, 0, 255, 0.5) 60%, rgba(38, 25, 37, 0.02) 100%)
}

.cracha {
  position: relative;
  background: #111020;
  width: 358px;
  height: 540px;
}
/* GRAPHIC DETAILS */

/* TOP BADGE BAND + ANIMATION BACKGROUND */

.cracha::after {
  content: '';
  z-index: 2;
  position: absolute;
  width: 64px;
  height: 158px;
  background: linear-gradient(to top, transparent 0%, #fff 100%);
  top: -140px;
  transform: translateX(-50%);
  left: 50%;
  animation: background-color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* TOP BADGE BAND BORDER-BOTTOM */

.cracha::before {
  content: '';
  z-index: 2;
  position: absolute;
  width: 80px;
  height: 8px;
  background: var(--black);
  transform: translateX(-50%);
  left: 50%;
  top: 16px;
}

/* BADGE VECTOR + BACKGROUND GRADIENT ANIMATION */

.vetor {
  position: relative;
  width: 358px;
  height: 165px;
  background: url('images/vector.png');
  background-size: 75%;
  background-position-x: calc(var(--mouse-x)* 20%);
  background-position-y: calc(var(--mouse-y) * 20%);
  background-blend-mode: luminosity;
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 100%, 0 50%);
  animation: background-color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* VECTOR OVERLAY */

.vetor::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: linear-gradient(to bottom, transparent 0%, #fff 100%);
}

/* BACKGROUND ANIMATION */

@keyframes background-color {
  0% {
    background-color: #0e318b;
  }
  50% {
    background-color: #6a2692;
  }
  100% {
    background-color: #0e318b;
  }
}

/* END GRAPICH DETAILS */

.container {
  position: relative;
  top: -83px;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

/* Avatar */

.avatar {
  position: relative;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.avatar span {
  position: absolute;
  z-index: 1;
  top: -15px;
  animation: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}
}

/* END AVATAR */

/* BIO */

.bio h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: var(--gray);
}

.bio a {
  color: var(--gray);
  text-decoration: none;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

.bio p {
  color: var(--gray);
  margin-top: 2rem;
  /* line-height: 1.5rem; */
}

/* BIO */

.social-medias {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

@media (max-width:900px) {
  body::after {
    display: none;
  }

  .cracha {
    width: 100vw;
    height: 100vh;
  }

  .cracha::after, .cracha::before{
    display: none;
  }

  .vetor {
    width: 100vw;
    background-size: contain;
  }
}